@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.element{
    margin-bottom:15px;
}

.repeateble-template{
    display:none;
}
.repeateble-element{
    display:block;
}
.popover {
    max-width: 500px;
}